<article>
  <h1> <%= @article.title %>
  <small>
    <%= link_to edit_article_path(@article.id) do %>
      <i class="fa fa-pencil"> </i>
    <% end %>
    <%= link_to articles_path(@article.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete Task?"} do %>
      <i class="fa fa-trash"> </i>
    <% end %>
  </small>
  <hr>
  <p>
    <%= @article.content%>
  </p>
</article>
